<div class="search-bar-container">
  <app-search-bar></app-search-bar>
</div>

<div class="action-container">
  <a mat-flat-button color="accent" [routerLink]="['/create-product']">Cadastrar Produto</a>
</div>

@for (produto of produtos(); track produto.id) {
<div class="item-container">

  @defer (on immediate) {
  <app-card [produto]="produto" (edit)="onEditProduct(produto)" (delete)="onDeleteProduct(produto)">
  </app-card>
  }
</div>
}

@empty {
@defer (on immediate) {
<app-no-items></app-no-items>
}
}